<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru</title>
</head>
<body>
<H1>Author list</H1>
<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">book</td>
        <td th:text="${author.firstName}">Spring in action</td>
        <td th:text="${author.lastName}">Wrox</td>
    </tr>
</table>

</body>
</html>